# Odoo
ADMIN_PASSWORD=change-me
LIST_DB=False
PROXY_MODE=True

# Recommended for Railway:
# use ODOO_DB_* to avoid conflicts with Railway-managed DB_* variables.
ODOO_DB_HOST=
ODOO_DB_PORT=5432
ODOO_DB_USER=
ODOO_DB_PASSWORD=
ODOO_DB_NAME=
